{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}

{% block content %}
<main id="main" >

    <!-- ======= Hero Section ======= -->
    <section id="homesection" style="padding: 0px 0px;">
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
    <div class="container">
  
      <div class="section-title">
        <h2>Team</h2>
        <p>We are learning and growing together. Our team is cold as like ice and our work is  hot as like sun.</p>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="{% static 'assets/img/team/vinuka.jpeg' %}" alt="">
            <h4>Vinuka Silva</h4>
            <span>Artificial Neural Network Model</span>
            <p>
              Group Leader, Undergraduate reading for the degree Artificial Intelligence & Data Science. Proficient in Python, R, PyTorch, AWS, and LLMs.
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="{% static 'assets/img/team/sachith.jpeg' %}" alt="">
            <h4>Sachith Jayalath</h4>
            <span>Logistic Regression Model</span>
            <p>
              Undergraduate reading for the degree Artificial Intelligence & Data Science. Proficient in Python, R and AWS. 
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="{% static 'assets/img/team/manujaya.jpeg' %}" alt="">
            <h4>Manujaya Rajaguru</h4>
            <span>Linear Regression Model</span>
            <p>
              Undergraduate reading for the degree Artificial Intelligence & Data Science. Proficient in Python, R and AWS.
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
    </section><!-- End Team Section -->  
    </section><!-- End Hero -->
  
</main>  
{% endblock %}